.headerBackGround {
  background-color: crimson;
}
.spaseBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 0 5rem;
}

.headerHeight {
  height: 6.6rem;
}

.navSpace {
  display: flex;
  justify-content: space-around;
}
